/* CSS HEX */
:root {
    --curious-blue-50: #f1fafe;
    --curious-blue-100: #e1f4fd;
    --curious-blue-200: #bde8fa;
    --curious-blue-300: #83d8f6;
    --curious-blue-400: #41c3ef;
    --curious-blue-500: #19acde;
    --curious-blue-600: #0d9bd3;
    --curious-blue-700: #0b6f99;
    --curious-blue-800: #0d5e7f;
    --curious-blue-900: #114e69;
    --curious-blue-950: #0b3146;

    font-family: futura, sans-serif;
}

* {
    margin: 0;

}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--curious-blue-100);
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--curious-blue-400) ;
    height: 10dvh;
    width: 100dvw;
    text-align: center;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > h1 {
    padding: 1dvh;
    color: #ffffff;
    transition: 0.5s linear;
}

header > h1:hover {
    transform: scale(1.4)
}
main {
    min-height: 85dvh;
    width: 100dvw ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    margin: 1em;
}

main > img {
    height: 50dvh;
    width: auto;
    background-color: var(--curious-blue-950);
    margin: 2em;
    border-radius: 12px;
    /* border-radius: 50%; */
    /* transition: 1s;
    transform: scale(.5);
 */
}

/* main > img:hover {
    transform: scale(1);
    border-radius: 12px;
} */


main > p {
    font-size: small;
}

nav > a {
    text-decoration: none;
    background-color: var(--curious-blue-600);
    color: white;
    margin:  1em 0.25em;
    padding: 0.25em;
    border-radius: 0.5em;
    transition: 1s;
}

nav > a:hover {
    background-color: var(--curious-blue-950);
}

footer {
    background-color: var(--curious-blue-400);
    height: 5dvh;
    width: 100dvw ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}