/* CSS HEX */
:root {
    --curious-blue-50: #f1fafe;
    --curious-blue-100: #e1f4fd;
    --curious-blue-200: #bde8fa;
    --curious-blue-300: #83d8f6;
    --curious-blue-400: #41c3ef;
    --curious-blue-500: #19acde;
    --curious-blue-600: #0d9bd3;
    --curious-blue-700: #0b6f99;
    --curious-blue-800: #0d5e7f;
    --curious-blue-900: #114e69;
    --curious-blue-950: #0b3146;
}

